html, body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#crosshair {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -8px;
    margin-left: -8px;
}

#shotgun {
    position: absolute;
    width: 240px;
    bottom: 0;
    left: 50%;
    margin-left: -127px;
}

#renderCanvas {
    width: 100%;
    height: 100%;
    touch-action: none;
}